* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    padding: 0px 50px;
    margin: 0 auto;
}
body{
    width: 100%;
    height: 100vh;
    position: absolute;
}
h1 {
    margin: 10px 0px;
    font-size: 19px;
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
}

.navbar {
    height: 70px;
    background: #191919;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 15px;
    margin: 0px 7px;
    font-size: 15px;
    font-weight: 400;
    transition: all 2s ease;
}
.navbar a:hover{
    color: rgb(24, 24, 212);
    border-bottom: 2px solid rgb(15, 15, 139);
}
.display{
    background:  #000;
}
.content{
    margin: 70px 0px;
    padding: 50px;
    color: #fff;
}
.text{
    font-size: 29px;
    font-weight: 500;
}
.image img{
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 640px;

}
.card{
    background:#fff;
    max-width: 700px;
    height: 100px;
    transform: translateY(-120px);
    border: transparent;
    border-radius: 4px;
}
section{
    background: #000;
}
.section-container{
    margin-top: -70px;
}
.icon-card{
    max-width: 700px;
    height: 170px;
    margin: 0px 40px;
    margin-left: 140px;
    padding:40px;
    border-radius: 7px;
    background: darkblue;
    color: #fff;
}
.icon-layer{
    font-size: 35px;
    color: #fff;
}
.fa{
    justify-self: center;
     transition: all 0.5s ease-in;
}
.fa:hover{
    padding: 30px 30px;
    margin-top: -39px;
    border-radius: 9px;
    background: #000;
    color: #fff;
    transform: translateY(-30px);
    align-items: center;
    justify-content: center;
}
.text-icon{
    font-size:10px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    margin-left: -22px;
}
.special{
    max-width: 1100px;
    height: 100vh;
     margin-top: -190px;
     color: #fff;
}
.box1,
.box2,
.box3{
    width: 250px;
    height: 280px;
    background: #333;
    border-radius: 5px;
}
.wrd h6{
    width: 100px;
}
 .covid{
         height: 80vh;
         color: #fff;
         background: #333;
}
.circle-pic{
    height: 40vh;
}
.pic-circle{
    padding: 20px;
}
.pic-circle img{
    width:50px;
    height: 45px;
}
.pic-circle img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.services{
    height:100vh;
    color: #fff;
}
.service-card-one{
    border:2px solid blue;
    width: 400px;
    height: 300px;
    color: white;
    background: blue;
}
.service__cardone{
    width: 400px;
    height: 300px;
    transform: translateY(-40px);
}
.footer-container{
    border: 2px solid blue;
    height:100vh;
    color: #fff;
}
.footer{
    border: 2px solid red;
    width: 700px;
    height: 150px;
    border-radius: 5px;
    color: #fff;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background: blue;
}




