* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    padding: 0px 50px;
    margin: 0 auto;
}
body{
    width: 100%;
    height: 100vh;
}
h1 {
    margin: 10px 0px;
    font-size: 19px;
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
}

.navbar {
    height: 70px;
    background: #191919;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 15px;
    margin: 0px 7px;
    font-size: 15px;
    font-weight: 400;
    transition: all 2s ease;
}
.navbar a:hover{
    color: rgb(24, 24, 212);
    border-bottom: 2px solid rgb(15, 15, 139);
}
.display{
    background:  #007FFF;
}
.content{
    margin: 70px 0px;
    padding: 50px;
    color: #fff;
}
.text{
    font-size: 29px;
    font-weight: 500;
}
.image img{
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 640px;

}
.card{
    background:#fff;
    max-width: 700px;
    height: 100px;
    transform: translateY(-120px);
    border: transparent;
    border-radius: 4px;
}
section{
    background: #007FFF;
}
.section-container{
    margin-top: -70px;
}
.icon-card{
    max-width: 700px;
    height: 170px;
    margin: 0px 40px;
    margin-left: 140px;
    padding:40px;
    border-radius: 7px;
    background: #00308F;
}
.icon-layer{
    font-size: 35px;
    color: #fff;
}
.fa{
    justify-self: center;
     transition: all 0.5s ease-in;
}
.fa:hover{
    padding: 30px 30px;
    margin-top: -39px;
    border-radius: 9px;
    background: #000;
    color: #fff;
    transform: translateY(-30px);
    align-items: center;
    justify-content: center;
}
.text-icon{
    font-size:10px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    margin-left: -22px;
}
.special{
    max-width: 1100px;
    height: 100vh;
}
.imgbox{
    grid-gap:5rem;
}
.mge img{
    border: 2px solid red;
    background: #333;
    padding: 80px;
    max-width: 140px;
    height: 400px;
}


