.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: left;
    gap: 7em;
}
.Maliki{
    color: rgb(24, 24, 212);
}
 .special__color{
     color: #000;
 }
.justitfy-content{
    justify-content: center;
    text-align: center;
}
.text-decorate{
    text-decoration: none;
}
.list-style-none{
    list-style-type: none;
}
.img{
    width: 100%;
}
.w-full{
    width: 100%;
}
.w-half{
    width: 50%;
}
.h-full{
    height: 100%;
}
.h-vh{
    height: 170vh;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: blue;
    border:none;
    border-radius: 5px;
    color: #fff;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.covid-btn{
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
    background-color: blue;
    border:none;
    border-radius: 5px;
    color: #fff;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-items: center;
    transform: translateX(330px); 
}
.btn1{
    display: inline-block;
    max-width: 100px;
    height: 41px;
    cursor: pointer;
    background-color: blue;
    text-align: center;
    border:none;
    border-radius: 5px;
    color: #fff;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
h5{
    padding: 10px 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);

}
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 3fr);

}
.grid4{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    padding: 15px;
}
.grid5{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    padding: 15px;
}
.grid6{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    padding: 15px;
    grid-template-rows: repeat(2, 2fr);
}
.m-y1{
   margin: 18px;
}
.m-y2{
   margin: 70px;
}
.m-y3{
    margin: -25px;
}
.m-y4{
    margin: 45px;
}
.m-y5{
    margin: -45px;
}
.m-y6{
    margin: 225px;
}
.ml-y1{
   margin-left: -380px;
}
.ml-y2{
    margin-left: 10px;
}
.ml-y3{
    margin-left:30px;
}
.ml-y4{
    margin-left: 60px;
}
.ml-y5{
    margin-left: 190px;
}
.ml-y6{
    margin-left: auto;
}
.margin-top{
    margin-top: -40px;
}
.margin-top2{
    margin-top: -120px;
}
.grid-gap{
    grid-gap: 4rem;
}
.sm{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}

